<div class = "container">
  <div class = "row">
    <div class="px-3 mx-auto  mt-5">
       
        <h3 style="text-align:center">
          ご注文ありがとうございました!!
        </h3>
     </div>
     <div class="thanks_image offset-2" style="height: 400px;"></div>
    </div>
  </div>